
@import  'app/scss/vars' ;
@import  'app/scss/fonts';
@import  'app/scss/libs';
@import  'app/scss/reset';
@import  'app/scss/global'; 
/*npm uninstall*/
.main{
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    padding: 40px 40px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item{
        font-size: 16px;
        @extend %com-500;

    }
    &__list-item + .menu__list-item{
        margin-left: 68px;
    }
    &__list-item--active{
        font-size: 16px;
        @extend %com-500;
        position: relative;
        color: #FFCC29;
        &::before{
            content: '';
            position: absolute;
            border-bottom: 2px solid  #FFCC29;
            margin-top: 2px;
            width: 100%;
            bottom: -4px;
        }
        
    }
}   
.uzer-mobil{
    &__tel{
       @extend %btn;
    }
 }
.top-slider{
    &__inner{
        max-width: 1600px;
        height: 750px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        position: relative;

    }
    &__title{
        padding-top: 120px;
        text-align:center;
        @extend %Pl-700;
        font-size: 80px;
        color: #ffff
    }
    &__subtitle{
        text-align:center;
        @extend %com-400;
        font-size: 22px;
        color: #ffff;
        padding: 10px 0 30px ;
    }
    &__benefits{
        max-width: 331px;
        margin: 0 auto;
    }
    &__benefits-item{
        padding-left: 39px;
        font-size: 16px;
        @extend %com-400;
        color: #fff;
        margin-bottom: 28px;
    }
    &__benefits-icon{
       margin-bottom: -26px;
    } 
    span{
        margin-right: 4px;
        color: #FFCC29;
        font-size: 16px;
    }
    &__consultation{
        text-align: center;
        padding-top: 56px;
    }
    &__consultation-btnlink{
        background-color: #FFCC29;
        padding: 20px 25px;
        font-size: 16px;
        @extend %com-500;
        color: #39373A;
        border-radius: 40px;
        margin-left: -24px
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 22px;
    left: 48%;
    right: 50%;
    li{
        padding: 0px 5px;
        line-height: 0;
    }
    button {
        padding:0 5px;
        border-width: 0;
        background-color:#ffff;
        border-radius: 50%;
        width: 9.58px;
        height: 9.58px;
        font-size: 0;
        bottom: 0;
        border: none;
    }
}
.slick-active{
    button {
        padding:0 5px;
        border-width: 0;
        background-color:#FFCC29;
        border-radius: 50%;
        width: 9.58px;
        height: 9.58px;
        font-size: 0;
        bottom: 0;
    }
    
}

.promo{
    padding-bottom: 100px;
    &__inner{
        padding-top: 64px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        @extend %com-600;
    }
    &__item{
        width: 265px;
        height: 370px;
        font-size: 22px;
        color: #ffff;
        padding: 250px 0px 38px 19px;
        line-height: 27px;
        span{
            color: $span;
        }
    }
}

.clock{
    height: 492px;
    &__inner{
        max-width: 900px;
        margin: 0 auto;
    }
    &__wrapper{
        max-width: 388px;
        margin-left: auto;
        text-align: center;
    }
    .title{
        color: #ffff;;
        &::before{
            content: '';
            left: 38%;
        }
    }
    .subtitle{
        padding-top: 30px;
        font-size: 18px;
        color: #ffff;
        @extend %com-400;
    }
    &__title{
        font-size: 32px;
        @extend %com-600;
        color: #fff;
        padding: 15px;
        margin-bottom: 18px;
    }
    &__link-btn{
        padding: 8px 58px;
        font-size: 20px;
        @extend %com-400;
        background-color: $span;
        border-radius: 45px;
        display: block;
        max-width: 358px;
        margin: 0 auto;
        color: #39373A;   
    }
    &__taim-title{
        font-size: 36px;
        @extend %com-600;
        color: #fff;
        padding: 10px 0 28px 0;
    }
    &__items{
        background-color: $span;
        max-width: 388px;
        height: 74px;
        display: flex;
        justify-content: space-around;
        border-radius: 10px
    }
    &__item{
        @extend %com-600;
        font-size: 30px;
        padding: 10px;
    }
    &__text{
        @extend %com-400;
        font-size: 16px;
        padding-top: 6px;
    }
    &__subtabms{
        @extend %com-400;
        font-size: 32px;
        line-height: 39.14px;
        margin-top: 4px;
        border-radius: 10px;
    }
    
    &__item:first-child{
        padding-left: 24px;
    }
    &__item:last-child{
        padding-right: 24px;
    }
}

.our-works{
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 30px;
        padding-top: 64px;
    }
    &__box-images{
        display: none;
        right: 42px;
        bottom: 42px;
    }
    &__item{
        max-width: 473px;
        height: 400px;
        display: flex;
        align-items: flex-end;
        position: relative;
        &:hover{
            cursor: url('../images/our-works/cursor.svg'), pointer;
            background-image: url('../images/our-works/arrow.svg');
            .our-works__box-images{
                display: block;
                position: absolute;
                cursor: url('../images/our-works/cursor.svg'), pointer;
            }
        }
    }
    &__title{
        font-size: 35px;
        @extend %Pl-700;
        color: #ffff;
        padding-left: 32px;
        padding-bottom: 10px;
        
    }
    &__wrapper{
        width: 255px;
    }
    &__box{
        max-width: 255px;   
        padding: 6px 0px 24px 30px;
        background-color: black;
        opacity: 0.7;
        border-radius: 0px 10px 10px 0px;
        z-index: 1;
        margin-bottom: 27px;
    }
    &__box-item{
        color: #fff;
        @extend %com-300;
        font-size: 15px;
        z-index: 1;
        span{
            color: $span;
            @extend %com-600;
            font-size: 32px;
            margin-right: 4px;
        }
    }
    &__box-text{
        @extend %com-300;
        font-size: 14px;
        z-index: 1;
        text-transform: lowercase;
        color: #ffff;
    }
    &__btn{
        padding-top: 58px;
        display: flex;
        justify-content: center;
    }
    &__btn-link{
        @extend %btn;
        padding: 16px 83px;
        color: #39373A;
    }
}

/* @extend %com-600; */
/* %Pl-700
 */






@import  'app/scss/medea';  

