
@import  'app/scss/vars' ;
@import  'app/scss/fonts';
@import  'app/scss/libs';
@import  'app/scss/reset';
@import  'app/scss/global'; 
/*npm uninstall*/
.main{
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    padding: 40px 40px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__btn{ 
        display: none;
    }
    &__btn-content{
        display: none;
    } 
    &__btn-content--active{
        display: block;
    }
    &__btn-mobil{
        display: none;
    }
    &__list-link{
        font-size: 16px;
        cursor: pointer;
        text-transform: capitalize;
        @extend %com-500;
        color: #39373A;
    }
    &__list-item + .menu__list-item{
        margin-left: 68px;
    }
    &__list-link--active{
        font-size: 16px;
        @extend %com-500;
        position: relative;
        color: #FFCC29;
        &::before{
            content: '';
            position: absolute;
            border-bottom: 2px solid  #FFCC29;
            margin-top: 2px;
            width: 100%;
            bottom: -4px;
        }    
    }
    &__list-link:hover{
        position: relative;
        color: #FFCC29;
        &::before{
            content: '';
            position: absolute;
            border-bottom: 2px solid  #FFCC29;
            margin-top: 2px;
            width: 100%;
            bottom: -4px;
        } 
    }
}   
.uzer-mobil{
    &__tel{
       @extend %btn;
    }
 }
.top-slider{
    &__inner{
        max-width: 1600px;
        height: 750px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        position: relative;

    }
    &__title{
        padding-top: 120px;
        text-align:center;
        @extend %Pl-700;
        font-size: 80px;
        color: #ffff
    }
    &__subtitle{
        text-align:center;
        @extend %com-400;
        font-size: 22px;
        color: #ffff;
        padding: 10px 0 30px ;
    }
    &__benefits{
        max-width: 331px;
        margin: 0 auto;
    }
    &__benefits-item{
        padding-left: 39px;
        font-size: 16px;
        @extend %com-400;
        color: #fff;
        margin-bottom: 28px;
    }
    &__benefits-icon{
       margin-bottom: -26px;
    } 
    span{
        margin-right: 4px;
        color: #FFCC29;
        font-size: 16px;
    }
    &__consultation{
        text-align: center;
        padding-top: 56px;
    }
    &__consultation-btnlink{
        background-color: #FFCC29;
        padding: 20px 25px;
        font-size: 16px;
        @extend %com-500;
        color: #39373A;
        border-radius: 40px;
        margin-left: -24px
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 22px;
    left: 48%;
    right: 50%;
    li{
        padding: 0px 5px;
        line-height: 0;
    }
    button {
        padding:0 5px;
        border-width: 0;
        background-color:#ffff;
        border-radius: 50%;
        width: 9.58px;
        height: 9.58px;
        font-size: 0;
        bottom: 0;
        border: none;
    }
}
.slick-active{
    button {
        padding:0 5px;
        border-width: 0;
        background-color:#FFCC29;
        border-radius: 50%;
        width: 9.58px;
        height: 9.58px;
        font-size: 0;
        bottom: 0;
    }
    
}

.promo{
    padding-bottom: 100px;
    &__inner{
        padding-top: 64px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        @extend %com-600;
    }
    &__item{
        width: 265px;
        height: 370px;
        font-size: 22px;
        color: #ffff;
        padding: 250px 0px 38px 19px;
        line-height: 27px;
        span{
            color: $span;
        }
    }
}

.clock{
    position: relative;
    height: 492px;
    &__inner{
        max-width: 900px;
        margin: 0 auto;
    }
    &__wrapper{
        max-width: 388px;
        margin-left: auto;
        text-align: center;
    }
    &__images{
        position: absolute;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .inner{
        position: absolute;
        right: 198px;
    }
    .title{
        color: #ffff;;
        &::before{
            content: '';
            left: 38%;
        }
    }
    .subtitle{
        padding-top: 30px;
        font-size: 18px;
        color: #ffff;
        @extend %com-400;
    }
    &__title{
        font-size: 32px;
        @extend %com-600;
        color: #fff;
        padding: 15px;
        margin-bottom: 18px;
    }
    &__link-btn{
        padding: 8px 58px;
        font-size: 20px;
        @extend %com-400;
        background-color: $span;
        border-radius: 45px;
        display: block;
        max-width: 358px;
        margin: 0 auto;
        color: #39373A;   
    }
    &__taim-title{
        font-size: 36px;
        @extend %com-600;
        color: #fff;
        padding: 10px 0 28px 0;
    }
    &__items{
        background-color: $span;
        max-width: 388px;
        height: 74px;
        display: flex;
        justify-content: space-around;
        border-radius: 10px
    }
    &__item{
        @extend %com-600;
        font-size: 30px;
        padding: 10px;
    }
    &__text{
        @extend %com-400;
        font-size: 16px;
        padding-top: 6px;
    }
    &__subtabms{
        @extend %com-400;
        font-size: 32px;
        line-height: 39.14px;
        margin-top: 4px;
        border-radius: 10px;
    }
    
    &__item:first-child{
        padding-left: 24px;
    }
    &__item:last-child{
        padding-right: 24px;
    }
}

.our-works{
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 30px;
        padding-top: 64px;
    }
    &__box-images{
        display: none;
        right: 42px;
        bottom: 42px;
    }
    &__item{
        max-width: 473px;
        height: 400px;
        display: flex;
        align-items: flex-end;
        position: relative;
        &:hover{
            transition: all 0.3s;
            cursor: url('../images/our-works/cursor.svg'), pointer;
            background-image: url('../images/our-works/arrow.svg');
            .our-works__box-images{
                display: block;
                position: absolute;
                cursor: url('../images/our-works/cursor.svg'), pointer;
            }
        }
    }
    &__title{
        font-size: 35px;
        @extend %Pl-700;
        color: #ffff;
        padding-left: 32px;
        padding-bottom: 10px;
        
    }
    &__wrapper{
        width: 255px;
    }
    &__box{
        max-width: 255px;   
        padding: 6px 0px 24px 30px;
        background-color: black;
        opacity: 0.7;
        border-radius: 0px 10px 10px 0px;
        z-index: 1;
        margin-bottom: 27px;
    }
    &__box-item{
        color: #fff;
        @extend %com-300;
        font-size: 15px;
        z-index: 1;
        span{
            color: $span;
            @extend %com-600;
            font-size: 32px;
            margin-right: 4px;
        }
    }
    &__box-text{
        @extend %com-300;
        font-size: 14px;
        z-index: 1;
        text-transform: lowercase;
        color: #ffff;
    }
    &__btn{
        padding-top: 58px;
        display: flex;
        justify-content: center;
    }
    &__btn-link{
        @extend %btn;
        padding: 16px 83px;
        color: #39373A;
    }
}
.benefit{
    &__wrapper{
     padding-top: 54px;
    } 
    &__items{
     display: flex;
     justify-content: space-evenly;
    }
    &__item{
     padding: 30px 38px;
     background: #FFFFFF;
     text-align: center;
     box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
     border-radius: 10px;
    }
    &__item-subtitle{
        font-size: 22px;
        @extend %Pl-600;
        padding: 10px 0 10px 0;
        max-width: 216px;
        margin: 0 auto;
        line-height: 29.33px;
    }
    &__item-text{
        @extend %com-400;
        font-size: 16px; 
        max-width: 236px;
        line-height: 19.57px;
    }
    &__order{
        height: 555px;
        margin-top: 94px;
    }
    
    &__box{
        max-width: 616px;
        margin-left: auto;
        text-align: center;
        .title{
            color: $span;
            padding-top: 128px;
            font-size: 85px;
            &::before{
                content: '';
                display: none;
            }
        }
    }
    .benefit__inner{
        display: flex;
    }
    &__order-subtitle{
        @extend %com-600;
        font-size: 48px;
        padding: 20px 0 20px 0px;
    }
    &__order-text{
        @extend %com-300;
        font-size: 25px;
        padding-bottom: 28px;
    }
    &__order-btnlink{
        padding: 20px 40px;
        @extend %btn;
        display: inline-block;
    }
}
.video-cases{
    &__items{
        padding:88px 0 100px 0px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 460px;
        height: 264px;
        background-color: #C4C4C4;
        .video-fashion__popup{
            width: 460px;
            height: 264px;
            background-size: 160%;
            a{
                position: absolute;
                width: 320px;
                height: 100px;
                left: 14%;
                top: 1%;
                height: 260px;
                cursor: pointer;
            }
        }
    }
    &__contact{
        background-image: url('../images/video-cases/form.jpg');
        height: 408px;
        text-align: center;
    }
    &__contact-title{
        padding-top: 78px;
        font-size: 43px;
        @extend %Pl-700;
        line-height: 57.32px;
    }
    &__contact-text{
        padding-top: 25px;
        font-size: 20px;
        @extend %com-400;
        span{
            @extend %com-600;
        }
    }
    &__form{
        padding-top: 43px;
    }
    &__form-input{
       padding-left: 30px;
       width: 354px;
       height: 47px;
       font-size: 16px;
       @extend %com-400;
       border-radius: 28px;
       border-color: transparent;
       outline: none;
       color:#39373A;
       &::placeholder{
        font-size: 16px;
        @extend %com-400;
        color:#39373A;
       }
    }
    &__form-btn{
        padding: 14px 30px;
        border-radius: 28px;
        @extend %com-400;
        font-size: 16px;
        color: #fff;
        background-color: #39373A;
        margin-left: 30px ;
    }
}
.video-fashion{
    .text{
        max-width: 691px;
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
        font-size: 20px;
        @extend %com-400;
        line-height: 24.46px;
        padding-bottom: 45px;
    }
    &__popup{
        height: 706px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        a{
            position: absolute;
            width: 6%;
            height: 100px;
            left: 47%;
            top: 43%;
        }
    }
}
.biy{
    &__wrapper{
        padding-top: 58px;
        display: flex;
        justify-content: space-evenly;
    }
    &__from{
        padding: 36px 34px 58px 35px;
        background-color: #F9F9F9;
        border-radius: 10px;
        width: 648px;
    }
    &__from-title{
        font-size: 20px;
        @extend %com-600;
        padding-bottom: 20px;
    }
    &__from-subtitle{
        @extend %com-600;
        font-size: 18px;
        padding-left: 6px;
        padding-bottom: 45px;
        display: inline-block;
    }
    .biy__from-subtitle + .biy__from-subtitle{
        padding-left: 50px;
    }
    &__from-wapper{
        display: flex;
        font-size: 20px;
        @extend %com-400;
        height: 48px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__from-input{
        width: 258px;
        height: 47px;
        border-radius: 46px;
        border: 1px solid #E5E5E5;
        padding-left: 26px;
     
    }
    &__from-finallysum{
        margin: 8px 0 34px 0;
        height: 58px;
        background-color: #F1F0F0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        @extend %com-600;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-color: #f1f0f0;
            left: -34px;
            height: 58px;
            width: 35px;
        }
        &::after{
            content: "";
            position: absolute;
            background-color: #f1f0f0;
            right: -34px;
            height: 58px;
            width: 35px;
        }

    }
    &__finishsum{
        font-size: 20px;
        @extend %com-600;
    }
    &__from-inpt{
        width: 275px;
        height: 47px;
        padding-left: 22px;
        border: 1px solid #E5E5E5;
        border-radius: 28px;
        margin-bottom: 22px;
    }
    &__from-inpt + .biy__from-inpt{
        margin-left: 25px;
    }
    &__from-btn{
        display: inline-block;
        width: 100%; 
        background: #FFCC29;
        border-radius: 28px;
        height: 47px;
        font-size: 16px;
        border: none;
        @extend %com-400;
    }
}
.our-professionals{
    margin-top: 84px;
    background-color: #F9F9F9;
    &__items{
        display: flex;
        padding-top: 75px;
        justify-content: space-evenly;
    }
    &__images{
        border-radius: 50%;
    }
    &__item{
        text-align: center;
    }
    &__title{
        padding-top: 18px;
        @extend %com-600;
        font-size: 19px;
    }
    &__sabtitle{
        padding: 8px 0 8px 0;
        @extend %com-600;
        font-size: 14px;
        color: #b8b7b7;
    }
    &__text{
        max-width: 315px;
        @extend %com-400;
        font-size: 16px;
        line-height: 19.57px;
    }

}

.process-work{
    &__items{
        display: flex;
        justify-content: space-between;
        padding-top: 74px;
    }
    &__item{
        width: 260px;
        height: 429px;
        box-shadow: 0px 4px 25px rgb(0 0 0 / 15%);
        border-radius: 10px;
        background: #FFFFFF;
    }
    &__item-sabtitle{
        padding: 15px 15px;
    }
    &__item-text{
        max-width: 235px;
        font-size: 16px;
        line-height: 20px;
    }
    &__item-number{
        @extend %com-700;
        font-size:26px ;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 20px;
            border: 1px solid #ccc;
            top: 20px;
            left: 20px;
        }
    }
    &__item-title{
        @extend %Pl-700;
        padding-left: 36px;
        font-size:20px ;
    }
    &__item-text{
        line-height: 20px;
        @extend %com-400;
        font-size: 16px;
        padding-top: 10px;
    }
}

.work-experience{
    &__items{
        display: flex;
        justify-content: space-between;
        padding-top: 75px;
    }
    .number{
        width: 60px;
        height: 60px;
        transition: all 0.3s;
        cursor: pointer;
    }
    &__item{
        width: 353px;
        padding-top: 33px;
        padding-bottom: 30px;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        text-align: center;
        margin-bottom: 87px;
        &:hover{
            background-color: #FFDC29;
            cursor: url('../images/our-works/cursor-black.svg'), pointer;
            transition:all 0.3s;
            .number{
                fill: #000;
            }
        }
    }
    &__title{
        padding-top: 10px;
        max-width: 243px;
        @extend %Pl-700;
        font-size: 22px;
        margin: 0 auto;
        text-transform: capitalize;
        line-height: 29.33px;
    }
    &__text{
        @extend %com-400;
        font-size: 16px;
        max-width: 270px;
        padding-top: 10px;
        margin: 0 auto;
        line-height: 19.57px;

    }
}
.blog{
    &__items{
        display: flex;
        padding-top: 75px;
        justify-content: space-between;  
    }
    &__item{
        text-align: center;
        max-width: 450px;
        background-color: #F9F9F9;
        padding: 15px 28px 40px 28px;
    }
    &__subtitle{
        @extend %com-400; 
        font-size: 15px;
        padding-top: 28px;
    }
    &__title{
        padding: 15px 0 8px 0;
        max-width: 285px;
        font-size: 24px;
        @extend %Pl-700;
        margin: 0 auto;
        line-height: 31.99px;
    }
    &__text{
        font-size: 18px;
        padding-bottom: 24px;
    }
    &__btn{
        display: block;
        @extend %btn;
        @extend %com-400;
        padding: 14px 22px;
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
    }
}

.footer{
    padding-top: 54px;
    margin-top: 106px;
    background: #F9F9F9;
 &__wrapper{
    display: flex;
    justify-content: space-between;
 }
 &__logo{
    max-width: 250px;
    height: 87px;
 }
 &__text{
    padding-top: 30px;
    max-width: 514px;
    font-size:16px ;
    @extend %com-400;
 }
 &__title{
    font-size: 18px;
    @extend %Pl-700;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        background-color: #FFCC29;
        width: 50px;
        height: 3px;
        bottom: -8px;

    }
 }
 &__list-item{
    padding-top: 24px;
    font-size: 16px;
    @extend %com-400;
    cursor: pointer;
 }
 &__list-item + .footer__list-item{
    padding-top: 15px;
 }
 &__local{
    width: 20px;
    height: 20px;
    
 }
 &__tell{
    width: 20px;
    height: 20px;
 }
 &__email{
    width: 20px;
    height: 20px;
 }
&__contact-item{
    margin-bottom: 18px;
    display: flex;
    a{
        color: #39373A;
    }
}
&__contact-location{
    padding-left: 10px;
}
&__contact-phone{
    padding-left: 10px;
}
&__contact-email{
    padding-left: 10px;
}
&__contact-list{
    padding-top: 26px;
    font-size: 16px;
    @extend %com-400;
}
&__social-link{
    display: inline-block;
    padding-top: 20px;
}
&__social-link +.footer__social-link{
    margin-left: 10px;
}
&__list-link{
    color: #39373A;
}
&__reserved{
  font-size: 18px;
  @extend %com-300;
  padding-top: 72px;
  padding-bottom: 14px;
  text-align: center;
  position: relative;
  &::before{
    content: "";
    width: 100%;
    position: absolute;
    max-width: 1300px;
    height: 1px;
    margin-top: -14px;
    background-color: #39373A;
    left:50%;
    transform:translate(-50%, -50%);
  }
}
&__social-item + .footer__social-item{
    margin-left: 10px; 
}
&__social-items{
    display: flex;
}
&__social-item{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
}




@import  'app/scss/medea';  

